<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
</head>

<body>
    <ul>
        <li>pornoıoooo</li>
        <li>ponıonozu ekiyom sizin</li>
        <li>pornoooo</li>
        <li>porsnonononono</li>
    </ul>
    <form class="formu" action="/" method="post">
    <input type="text" name="yeniOge">
    <button type="submit"name="button">ekle</button>
    </form>
   <h1>bugün <%= gunTuru %> !</h1>
</body>
<script src="app.js"></script>
</html>